/* BASES */
*,
*::before,
*::after {
    box-sizing: border-box;
    min-width: 0;
}

html {
    font-size: 100%;
    font-family: sans-serif;
    font-variant-ligatures: common-ligatures;
    overflow-wrap: break-word;
    scroll-behavior: smooth;
    
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

	scroll-behavior: smooth;
}

body {
    color: #000;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-size: 1.5rem;
    
	background-color: #fff;

    margin: 0;
    
	box-sizing: border-box;	

	text-rendering: optimizeSpeed;
}

*:focus{outline: .2rem dotted #333 !important;}

/* bases > block */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body > header, 
body > main, 
body >footer {
    padding: 2vh 2vw;
}
hgroup {
    max-width: 960px;
}

footer {
    background-color: #000;
    color: #fff;
}
footer * {
    color: #fff!important;
}
footer a {
    color: cyan!important
    ;
}


/* bases > titre */
h1, h2, h3, h4 {
    color: #000;
    font-weight: bold;
}
h1 {
    font-size: 3em;
	font-size: clamp(2.5em, 2.3rem + 2.5vw, 3em);
}
    h1 > u {
        text-decoration-color: greenyellow;
        text-decoration-skip-ink: none;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: .3em;
        text-underline-offset: -.2em;
    }

h2, .h2 {
	font-size: 1.5em;
    text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.2em;
}
h4, .h4 {
	font-size: 1.1em;
}
/* bases > liens  */
a {
    color: blue;
    text-decoration: underline;
} 
a[target='_blank']::after{ content: '↗'; }
a:hover,
a[target='_blank']:hover {
    text-decoration: underline dotted;
}
sup a[target='_blank'],
sup a[target='_blank']:hover {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
sup a[target='_blank']::after{ content: ']↗'; }
sup a::before{ content: '['; }
sup a {
    vertical-align: text-top;
    position: relative;
    font-size: .75em;
    line-height: 1;
    white-space: nowrap;
}
sup a::after{ content: ']'; }


p {margin-bottom: 2em;}
ul + p {margin-top: 2em;}	/*RGAA*/


/* UTILITAIRE */

/* utilitaires > texte */
.small {font-size: .8em;}

/* utilitaires > tailles */
.mw960p {
    max-width: 960px;
}

/* COMPOSANTS */

/* composant > fil ariane */
.breadcrumbs {
    font-size: .8em;
}

    .breadcrumbs .breadcrumbs--list {

    }

        .breadcrumbs .breadcrumbs--list .breadcrumbs--element {
            display: inline;
        }
        .breadcrumbs .breadcrumbs--list .breadcrumbs--element:not(:last-child):after {
            content: '›';
            color: #555;
        }

/* pormotion > liste */
.promotion {
    padding: 4vh 0;
}
    .promotion .promotion--liste ul {
        list-style: none;
        padding: 0;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        gap: 2rem;
    }

    .promotion .promotion--liste ul li a {
        display: block;
        text-decoration: none;
        cursor: pointer;

    }
    .promotion .promotion--liste ul li a:hover {


    }

        .promotion .promotion--liste ul li div,
        .promotion .promotion--liste ul li img {
            width: 250px;
            height: 250px;
            overflow: hidden;

            object-fit: cover;
            object-position: 50% 50%;
        }

        .promotion .promotion--liste ul li img {

            /*pour le texte alternatif */
            display: flex;
            color: #555;
            font-style: italic;
            align-items: center;
            justify-content: center;
            font-size: .8em;
        }

        .promotion .promotion--liste ul li h3 {
            font-size: 1.1em;
            margin: 0;
            padding: 1vh 0;
        }